.st0{fill:#F7F5E7;}
.st1{fill:#edeceb;stroke:#edeceb;stroke-miterlimit:10;}
.st2{fill:#5c5753;stroke:#5c5753;stroke-miterlimit:10;}
.st3{fill:#739354;stroke:#739354;stroke-miterlimit:10;}
.st4{fill:#587F36;stroke:#597F36;stroke-miterlimit:10;}
.st5{fill:#93A876;}
.st6{fill:#CAD5BF;}
.st7{fill:#4E7330;}
.st8{fill:#EDAE3D;}
.st9{fill:#F39D33;stroke:#F39D33;stroke-miterlimit:10;}
.st10{fill:#AD8030;}
.st11{fill:#FFDB6E;stroke:#FFDB6E;stroke-miterlimit:10;}
.st12{fill:#EBA438;}
.st13{fill:#638945;}
.st14{fill:#F1E6D6;}
.st15{fill:#F5B269;}
.st16{fill:#507230;}
.st17{fill:#62684D;}
.st18{fill:#DFABAC;}
.st19{fill:#AE8470;}
.st20{fill:#faa527;stroke:#faa527;stroke-miterlimit:10;}
.st21{fill:#99401F;}
.st22{fill:#FFCC32;stroke:#FFCC32;stroke-miterlimit:10;}

* {
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #0E0A07;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.hidden {
  display: none;
}

.shadow {
  filter: drop-shadow(-6px 6px 10px rgba(0,0,0,0.3))
}

svg {
  width: 400px;
  height: 400px;
}

path {
  transition: fill 200ms ease-in-out;
}

.fill-transp {
  fill: transparent !important;
}

.animated {
  stroke-dasharray: 10000 !important; 
  stroke-dashoffset: 10000;
  stroke-width: 3px;
  animation: draw 5s ease-in-out forwards !important; 
}

@keyframes draw {
  100% {
    stroke-dashoffset: 0; 
  }
}

.btn {
  border: none;
  border-radius: 4px;
  background-color: #F39D33;
  padding: 12px 32px;
  font-weight: 700;
  color: #CAD5BF;
  cursor: pointer;
  transition: all 200ms ease;
}

.btn:hover {
  background-color: #e9801e;
}